package components

templ Button(label string, className string) {
	<button class={"border border-white py-4 px-8 hover:bg-white hover:text-indigo-950 transition-colors text-white", className}>{label}</button>
}
